.content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-header{"data-background-color" => "purple"}
            %h4.title Add Organization
            %p.category Complete organization profile
          .card-content
            = render 'organizations/form', organization: @organization
